<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{title}}</title>
</head>
<body style="background-color: #303e7c; color: rgb(255, 255, 255);";>
<header class="navbar">
        <a href="/"><img class="navbar__logo" src="{{url_for('static', filename='mgt/logo.png')}}" alt="logo do site"></a>
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Home</a>
            <a class="navbar__links__link" href="/projetos">Projetos</a>
            <a class="navbar__links__link" href="/sobre_mim">Sobre Mim</a>
        </nav>
    </header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>