{% extends "base.html" %}
{% block content %}

<div class="espaçoproj"></div>

<body style="background-color: black; color: white;";>

<div class="titulo" >
    <h1>Projetos Acadêmicos</h1>
</div>

<div class="proj_content">
    <div>
        <img class="img_proj" src="static/mgt/api.png" alt="imagem api">
    </div>
    <div class="text_content">
        <h1 class="texto1">API | Projeto para Grupo de Mães</h1>
        <h2 class="texto2">O projeto é um site dedicado a mães que têm filhos com insuficiência renal crônica, com o propósito de fornecer um recurso central para informações, apoio e recursos relacionados à doença.</h2>
    </div>
</div>

<div class="titulo" >
    <h1>Projetos Pessoais</h1>
</div>

<div class="proj_content">
    <div>
        <img class="img_proj" src="static/mgt/pessoal.png" alt="imagem portfólio pessoal">
    </div>
    <div class="text_content">
        <h1 class="texto1">Portfólio Pessoal</h1>
        <h2 class="texto2">Coleção organizada de trabalhos, projetos, amostras ou realizações de uma pessoa. Projetado para destacar e apresentar de forma abrangente o conjunto de habilidades, experiências, realizações e competências de alguém ou de uma entidade em uma área específica.</h2>
    </div>
</div>
</body>

{% endblock %}