/* \/ IMAGENS \/ */

.img_proj{
    width: 55vh;
    border-radius: 15px;
}

.minha_foto{
    width: 35vh;
    border-radius: 50%;
    transition: transform 0.5s;
    filter: brightness(115%);
    filter: contrast(110%);
    filter: saturate(115%);
}

.navbar__logo{
    width: 7vh;
    margin: 0.6vh;
    transition: transform 0.4s; 
}

/* \/ ESPAÇO PARA NAVBAR \/ */

.espaçohome{
    padding-top: 22vh;
}

.espaçoproj{
    padding-top: 15vh;
}

/* \/ LOGO \/ */

.logo{
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 1s; 
    transform: rotate(0deg);
}

/* \/ DIV LISTAS \/ */

.tecs{
    width: 10%;
    height: 10%;
    margin-left: 27px;
    margin-right: 27px;
    transition: transform 1s; 
}

.tecs_list{
    width: 100%;
}

.redes{
    width: 100%;
    align-content: space-between;
}

/* \/ DIVS BLOCOS \/ */

.proj_content{
    display: flex;
    margin-top: 4vh;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    transition: transform 0.3s; 
    gap: 2vh;

    background-color: #4f5b9c;
    padding: 4vh;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 15px #283468;
}

.proj_content2{
    display: flex;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    transition: transform 0.3s; 
    

    background-color: #4f5b9c;
    padding: 4vh;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 15px #283468;
}

.page_content1{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    transition: transform 0.3s; 


    background-color: #4f5b9c;
    padding: 4vh;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 15px #283468;
}

.proj_content3{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    width: 70%;
    align-items: center;
    text-align: start;
    transition: transform 0.3s; 


    background-color: #4f5b9c;
    padding: 4vh;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 15px #283468;
}

.page_content{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    transition: transform 0.3s; 

    background-color: #4f5b9c;
    padding: 4vh;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 15px #283468;
}

/* \/ TEXTOS \/ */

a{
    text-decoration: none;
    color: white;
}

.titulo{
    padding-top: 40px;
    font-size: 5vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: "Monaco", monospace; 

    transition: transform 0.3s; 
}

.text_content{
    align-items: start;
    max-width: 55%;
}

.texto1{
    font-size: 4vh;
    margin-top: 0px;
    font-family: "Monaco", monospace;
    text-align: start;
}

.texto2{
    color: white;
    font-size: 2vh;
    margin-top: -10px;
    font-weight: 100;
    font-family: "Monaco", monospace;
}

.texto_lista{
    font-size: 15px;
    margin-top: 10px;
    font-family: "Monaco", monospace;
}

.texto_thin{
    font-size: 2.8vh;
    font-family: "Monaco", monospace;
    font-weight: 100;
}

.titulo_navbar{
    font-family: "Monaco", monospace;
    transition: transform 0.3s;
    font-size: 2.4vh;
}

/* \/ HOVER ELEMENTS \/ */

.titulo_navbar:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.596);
}

.titulo:hover {
    transition: all 0.3s;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.425);
}

.page_content1:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.page_content:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.proj_content:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.proj_content2:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.proj_content3:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.minha_foto:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.logo:hover{
    transform: rotate(360deg);
    transition: all 1s;
}

.navbar__logo:hover{
    transform: rotateY(360deg);
    transition: all 0.4s;
}

.tecs:hover{
    transform: rotate(360deg);
    transition: all 1s;
}

/* \/ MIN WIDTH \/ */

.min_width{
    min-width: 200px;
}

@media (width <= 1000px) {

    /* \/ HOME \/ */

    .navbar-nav{
        text-align: center;
    }

    .navbar__logo{
        width: 9vh;
        transition: transform 0.4s; 
    }

    .titulo_navbar{
        font-family: "Monaco", monospace;
        transition: transform 0.3s;
        font-size: 2vh;
    }

    .titulo_navbar:hover {
        transform: scale(1.1);
        transition: all 0.3s;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.596);
    }

    .page_content1{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-around;
        width: 90%;
        align-items: center;


        background-color: #4f5b9c;
        padding: 2.5vh;
        border-radius: 3.5vh;
        box-shadow: 0px 0px 15px #283468;
    }

    .text_content{
        align-items: center;
        text-align: start;
        max-width: 90%;
    }

    .texto1{
        font-size: 3.2vh;
        margin-top: 0px;
        font-family: "Monaco", monospace;
    }

    .texto2{
        color: white;
        font-size: 2.2vh;
        margin-top: -10px;
        font-weight: 100;
        font-family: "Monaco", monospace;
    }

    .texto_thin{
        font-size: 2.2vh;
        font-family: "Monaco", monospace;
        text-align: start;
        font-weight: 100;
    }

    .minha_foto{
        width: 27vh;
        margin-bottom: 50px;
    }

    .redes{
        width: 100%;
        align-content: space-between;
    }

    .logo{
        width: 5.8vh;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* \/ PROJETOS \/ */

    .proj_content{
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
        width: 90%;
        align-items: center;
        text-align: center;


        background-color: #4f5b9c;
        padding: 3vh;
        border-radius: 3.5vh;
        box-shadow: 0px 0px 15px #283468;
    }

    .img_proj{
        width: 80%;
        border-radius: 15px;
        margin-bottom: 20px;

    }

    /* \/ SOBRE MIM \/ */

    .titulo{
        padding-top: 40px;
        font-size: 3.5vh;
        margin-bottom: 2vh;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: "Monaco", monospace;
    }

    .proj_content2{
        display: flex;
        margin-top: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        text-align: start;
        width: 90%;
        align-items: center;


        background-color: #4f5b9c;
        padding: 3vh;
        border-radius: 3.5vh;
        box-shadow: 0px 0px 15px #283468;
    }

    .tecs{
        width: 25%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .tecs_list{
        width: 100%;
    }

}