{% extends "base.html" %}
{% block content %}

<div class="espaçohome"></div>

<div class="page_content1 min_width">
    <div class="text_content">
        <h1 class="texto1">Olá, sou Juan Garcia Soares</h1><br>
        <h2 class="texto2">Analista e Desenvolvedor de Software</h2><br>
        <h2 class="texto2">Granduado em Análise e Desenvolvimento de Sistemas pela Unip, cursando o 3º semestre de Desenvolvimento de Software Multiplataforma na FATEC e Estagiando como Desenvolvedor na Startup TECSUS. Tenho experiência com Banco de Dados relacional (MySQL e PostgreSQL) e não relacional (MongoDB, CassandraDB, Redis, Neo4j), Programação e Desenvolvimento Web (Python, JavaScript, TypeScript, Java, React, HTML & CSS).</h2><br>
        <h1 class="texto1">Redes Sociais:</h1>
        <div class="redes">
            <a href="//www.linkedin.com/in/ojuansoares/" target="_blank"><img class="logo" src="static/images/linkedin.png" class="media-object  img-responsive img-thumbnail" alt="linkedin logo"></a>
            <a href="//github.com/ojuansoares" target="_blank"><img class="logo" src="static/images/github.png" class="media-object  img-responsive img-thumbnail" alt="github logo"></a>
        </div>
    </div>

    <img class="minha_foto" src="static/images/foto.png" alt="minha face">
</div>

</body>

{% endblock %}